
block content
  .container.clearfix
    form(method='POST' action='/admin/deleteCourse')
      input(type="hidden" name="courseId" value= courseId)
      div.form-group
        label(for='course') Are you sure you want to delete this Category !
      button.btn.btn-primary(type='submit') Submit
      span.appearText(type='button' onclick="this.parentElement.style.display = 'none'") cancel
