
block content
  .container.clearfix
    form(method='POST' action='/admin/edit_priceBeforDiscount')
      input(type="hidden" name="chapterId" value= chapterId)
      div.form-group
        label(for='course') Price Before Discount:
        input#name.form-control(type='float', placeholder='15' name='priceBeforDiscount')
      button.btn.btn-primary(type='submit') Submit
      span.appearText(type='button' onclick="this.parentElement.style.display = 'none'") cancel
