
block content
  .container.clearfix
    form(method='POST' action='/admin/edit_showInDiscountPanel')
      input(type="hidden" name="chapterId" value= chapterId)
      div.form-group
        label(for='course') showInDiscountPanel?:
        input#name.form-control(type='text', placeholder='yes or no' name='showInDiscountPanel')
      button.btn.btn-primary(type='submit') Submit
      span.appearText(type='button' onclick="this.parentElement.style.display = 'none'") cancel
