extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 تواصل معانا
        br
        p تواصل معنا على الواتساب 99501036
        
        a(href="https://wa.me/96599501036")
          img.insta(src="/img/upload/contactus.png")
