
.container.float1
  .row
    .col-2
      a(href='https://wa.me/96590903115' style="z-index: 5;")
  
        .float
      
          i.fa-brands.fa-whatsapp.display-1.my-float
    
    .col-2.px-1
      a(href='https://wa.me/96590903115' style="z-index: 5;")
        h1.badge.rounded-pill.mt-4(style="font-size:1rem; background-color:#25D366;") كلمنا واتساب


footer.mt-auto.d-flex.bd-highlight.tomato.justify-content-md-between.flex-column.flex-md-row-reverse.align-self-baselin
  .p-2.bd-highlight.text-center جميع الحقوق محفوظة لشركة اي تي سي لتجارة الادوات الكهربائية  © 2023
  .p-2.bd-highlight.text-center
    a.mr-1(href='#')
      img(src='/images/knet.png', alt='')
    a.mr-1(href='#')
      img(src='/images/vesa.jpg', alt='')
    a.mr-1(href='#')
      img(src='/images/mastercard.png', alt='')
    a.mr-1(href='#')
      img(src='/images/cash.png', alt='')

// Buttonizer
  script(type='text/javascript').
    (function(n,t,c,d){if (t.getElementById(d)){return;};var o=t.createElement("script");o.id=d;o.async=!0,o.src="https://cdn.buttonizer.io/embed.js",o.onload=function(){window.Buttonizer.init(c)},t.head.appendChild(o)})(window,document,"b3334c5f-aff9-4854-b884-b4c914cb8770", "buttonizer_script");
  // End Buttonizer
  
