footer
  .div Copyright © 2020 Ting Store . All Rights Reserved.Design By Ting Store
  .div
    a(href='#')
      img(src='/images/knet.png', alt='')
    a(href='#')
      img(src='/images/vesa.jpg', alt='')
    a(href='#')
      img(src='/images/mastercard.png', alt='')
    a(href='#')
      img(src='/images/cash.png', alt='')
