footer.mt-auto.d-flex.bd-highlight.tomato.justify-content-md-between.flex-column.flex-md-row-reverse.align-self-baselin
  .p-2.bd-highlight.text-center Copyright © 2020 Ting Store . All Rights Reserved.Design By Ting Store
  .p-2.bd-highlight.text-center
    a.mr-1(href='#')
      img(src='/images/knet.png', alt='')
    a.mr-1(href='#')
      img(src='/images/vesa.jpg', alt='')
    a.mr-1(href='#')
      img(src='/images/mastercard.png', alt='')
    a.mr-1(href='#')
      img(src='/images/cash.png', alt='')
