
  
    h2.text-center التصنيفات
    

      //- this should be repeated for each course
      each category,index in categoryData
        
          
         
            img(src= `${category.img}` style="aspect-ratio: 1 / 1;")
            .div
              h5#card-title1= `${category.name}`
              
              a-link(href=`/category/${category.categoryNo}`)

  
