extends layout

block content
  
  .main
    .container
      .row.row-cols-3.row-cols-md-6
        each TheCategory,index in categoriesPass
          include ./includes/CategoryCard.pug
          
    
    - var counter = 0
    each productData,index in productDataAll      
      include ./includes/productsScroll.pug
