extends layout

block content
  
  .main.container
    h2.text-center التصنيفات
    .row#cards

      //- this should be repeated for each course
      each category,index in categoryData
        .col-6.col-lg-4= category.name
         
