doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title= `ITC | ${title}` 

 
  

  
  body.d-flex.flex-column.min-vh-100(onload="theAjax();")
    // load navbar.jade
    //include navbar
    
    // content block
    block content

    // footer
    //include footer
    


















    
   
    
