extends layout

block content

  .container.text-center
    br
    h2 تم تفعيل برنامج الخصومات
    br
    br
    br
    br
    .d-flex.flex-column.bd-highlight.mb-3
      
        a(href="../")
          button.btn.btn-primary.mx-3.bg-success(type='button') المتابعة للتسوق
  
    
 
  

