nav.navbar-expand-lg.navbar-light.bg-light
  // .container


  dev.d-flex.flex-column.bd-highlight
    .d-flex.justify-content-between.pt-2.px-2
      dev
        a.navbar-toggler.border-0
          i.fa.fa-user.mt-3.mx-3.h4(aria-hidden='true')

        //a.navbar-toggler.border-0(href='/cart')
          i.fas.fa-shopping-cart.mt-2.h4

        a.navbar-toggler.border-0(href='/cart')
          span          
            i.fas.fa-shopping-cart.mt-2.h4
            span#lblCartCount.badge.badge-warning= cartCountNow 



      a.navbar-brand.m-0.p-0(href="/")
        img.mx-2.hideMAX(src='https://itcstore.net/img/upload/myFile-1681091679923.png', alt='Mawadi', data-purpose='mawadi-brand-logo', height='45')

      button.navbar-toggler.border-0.px-2(type='button', data-bs-toggle="collapse", data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-bars(aria-hidden='true').h4.mt-3

    .px-2.pb-2.bd-highlight.border-bottom.border-3.navbar-toggler.shadowUnder
      // label.sr-only(for='inlineFormInputGroup') بحث
      // .input-group
      //   input#inlineFormInputGroup.form-control.border-left-0(type='text', placeholder='بحث')
      //   .input-group-prepend
      //     .input-group-text.tomato.text-white
      //       i.fa.fa-search(aria-hidden='true')

  #navbarSupportedContent.navbar-toggler.collapse.pt-1
    //- .d-flex.flex-column.bd-highlight.mb-3

    if theMutlaa
      .p-2.bd-highlight.border-bottom
        a(aria-current='page' href='/manager/order/1') تم تفعيل اسعار المطلاع
    else
      .p-2.bd-highlight.border-bottom
        a.py-2.fs-5.badge.bg-danger(aria-current='page' href='/mutlaaWelcome') برنامج الخصومات
    if currentUser
      .p-2.bd-highlight.border-bottom
        span= `مرحبا ${currentUserName}`
    if !currentUser
      .p-2.bd-highlight.border-bottom
        a(aria-current='page' href='/login') تسجيل الدخول
    

    .p-2.bd-highlight.border-bottom
      a(aria-current='page' href='/emptyCart') افرغ العربة

    if currentUser
      .p-2.bd-highlight.border-bottom
        a(aria-current='page' href='/manager/order/1') الطلبات
      .p-2.bd-highlight.border-bottom
        a(aria-current='page' href='/logout') تسجيل الخروج

   

    // a.navbar-brand.m-0.p-0
      img.udemy-logo.mx-2(src='https://itcstore.net/img/upload/myFile-1681091679923.png', alt='Udemy', data-purpose='udemy-brand-logo', height='45')
    
  //.p-2.bd-highlight.border-bottom
    a(aria-current='page' href='/manager/order/1') الطلبات

  if theMutlaa
    .alert.alert-success
      .text-center مرحبا بعميلنا المكان مكانك

  // Navigation Bar on Desktop size
  dev
    .col
      .navbar-collapse.collapse.justify-content-around.p-2(style='')
        // .hideMIN
        

        a.navbar-brand.nav-item.m-0.p-0.col-auto(href="/")
          img.udemy-logo.mx-2.hideMIN(src='https://itcstore.net/img/upload/myFile-1681091679923.png', alt='Mawadi', data-purpose='udemy-brand-logo', height='45')

        //- ul.navbar-nav.mr-auto
        .col
          label.sr-only(for='inlineFormInputGroup') بحث
          .input-group
            input#inlineFormInputGroup.form-control.border-left-0(type='text', placeholder='بحث')
            .input-group-prepend
              .input-group-text.tomato.text-white
                i.fa.fa-search(aria-hidden='true')


        .navbar-nav.mx-4.mr-md-0
          a.nav-item.nav-link.mx-4(href='/')
            i.fa.fa-user.mt-1(aria-hidden='true')
          a.nav-item.nav-link.mx-4(href='/cart')
            i.fa.fa-shopping-cart.mt-1(aria-hidden='true')
          
          .nav-item
            if currentUser
              div
                img.avatar.img-circle.hidden-xs-downborder.border.collapse(src='/images/avatar.png', alt='avatar')
                a.btn.pull-md-left.btn-secondary(href='/logout') Log out
            else  
              a.btn.btn-info.pull-md-left.mr-md-2.collapse(href='/login')
                i.fa.fa-user.ml-2(aria-hidden='true')
                span تسجيل دخول
              //- a.btn.btn-outline-danger.pull-md-left(href='/register') Sign Up
    .col.menu.navbar-collapse.collapse.border-bottom.border-3.shadowUnder
      .col.d-flex.bd-highlight.mx-2
        .p-2.flex-fill.bd-highlight.text-center.tomato.text-white
          | التصنيفات   
          i.fa.fa-caret-down.mr-3(aria-hidden='true')
        .p-2.flex-fill.bd-highlight.text-center
          | صفقة اليوم
        .p-2.flex-fill.bd-highlight.text-center
          | تصميم الاضائة
        .p-2.flex-fill.bd-highlight.text-center
          | الاضائة الداخلية
        .p-2.flex-fill.bd-highlight.text-center
          | الاضائة الخارجية
        .p-2.flex-fill.bd-highlight.text-center
          | الكشافات
        
          

      //- .col
      //-   #navbarSupportedContent.navbar-collapse.collapse.justify-content-around(style='')
      //-     | ppp



//- nav.navbar.navbar-expand-lg.navbar-light.bg-light
//-   // .container
//-   button.navbar-toggler.collapsed.ml-2(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
//-     span.navbar-toggler-icon

//-   a.navbar-brand.m-0.p-0
//-     img.mx-2.hideMAX(src='/images/logo01.png', alt='Mawadi', data-purpose='mawadi-brand-logo', height='45')

//-   // a.navbar-brand.m-0.p-0
//-     img.udemy-logo.mx-2(src='https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg', alt='Udemy', data-purpose='udemy-brand-logo', height='45')
  
//-   a.navbar-toggler.border-0
//-     i.fas.fa-shopping-cart

  //- .container
  //-   #navbarSupportedContent.navbar-collapse.collapse.justify-content-around(style='')
  //-     // .hideMIN
      

  //-     a.navbar-brand.nav-item.m-0.p-0.col
  //-       img.udemy-logo.mx-2.hideMIN(src='/images/logo01.png', alt='Mawadi', data-purpose='udemy-brand-logo', height='45')

  //-     // #navbarSupportedContent.collapse.navbar-collapse.container

  //-     //- ul.navbar-nav.mr-auto
  //-     // .nav-item
  //-     .navbar-nav.mx-4.ml-md-0
  //-       a.nav-item.nav-link(href='/') HOME
  //-       // if !currentUser
  //-         a.nav-item.nav-link(href='/register') Sign Up
  //-       a.nav-item.nav-link(href='/about') About
  //-       a.nav-item.nav-link(href='/contact') Contact
  //-       a.nav-item.nav-link(href='/profile') My Profile
        
  //-     .nav-item
  //-       if currentUser
  //-         div
  //-           img.avatar.img-circle.hidden-xs-downborder.border(src='/images/avatar.png', alt='avatar')
  //-           a.btn.pull-md-left.btn-secondary(href='/logout') Log out
  //-       else  
  //-         a.btn.btn-info.pull-md-left.mr-md-2(href='/login') Login
  //-         //- a.btn.btn-outline-danger.pull-md-left(href='/register') Sign Up
