extends layout

block content
  .main.container
    .row
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/order/1") الطلبات
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/") موقع التسوق
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/products") المنتجات
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/warehouse") المخزن
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/posts") Posts
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/vendor") الموردين
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/brand") الماركات
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/transferRequest") طلب تحويل
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/transferRequestPage") طلبات التحويل
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/city") المناطق
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/order/63b4012668385e7e48054046") order By userID
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/orderMobile/5585") order By Mobile
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 
            a.stretched-link(href="/manager/users") المستخدمين
