extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 ITC Store
        p This is ITC Store
        a.btn.btn-primary(href='#') Get in touch


