extends layout

block content
  .main.container
    .row
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 الطلبات
            span.card-title#card-title1.limit-content.mt-2.minCardLineHeight حسب رقم الفاتورة
            a.stretched-link(href="/manager/order/1")

      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 الطلبات
            span.card-title#card-title1.limit-content.mt-2.minCardLineHeight حسب رقم الطلب
            a.stretched-link(href="/manager/order/2")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 اوامر الشراء
            span.card-title#card-title1.limit-content.mt-2.minCardLineHeight
            a.stretched-link(href="/manager/purchase")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 موقع التسوق
            a.stretched-link(href="/")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 المنتجات
            a.stretched-link(href="/manager/products")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 المخزون
            a.stretched-link(href="/manager/inventory")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 طلبات التحويل
            a.stretched-link(href="/manager/transferRequest")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 المخزن
            a.stretched-link(href="/manager/warehouse")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 Posts
            a.stretched-link(href="/manager/posts")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 الموردين
            a.stretched-link(href="/manager/vendor")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 الماركات
            a.stretched-link(href="/manager/brand")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 طلب تحويل
            a.stretched-link(href="/manager/transferRequest")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 طلبات التحويل
            a.stretched-link(href="/manager/transferRequestPage")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 المناطق
            a.stretched-link(href="/manager/city")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 order By userID
            a.stretched-link(href="/manager/order/63b4012668385e7e48054046")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 order By Mobile
            a.stretched-link(href="/manager/orderMobile/5585")
      .col-6.col-lg-4.px-2
        .card.mb-3
          .card-body.text-center
            span.card-text.fw-bolder.fs-5 المستخدمين
            a.stretched-link(href="/manager/users")
