nav.navbar.navbar-expand-lg.bg-primary
  .container-fluid.fs-2
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.text-white(href='/products') Products
        li.nav-item
          a.nav-link.text-white(href='#') Orders
        li.nav-item
          a.nav-link.text-white(href='#') Naseem
        li.nav-item
          a.nav-link.text-white(href='#') Qurain
