nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='#') ITC Store
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.h5
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/order/1') الطلبات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') موقع التسوق
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/products') المنتجات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/category') التصنيفات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/warehouse') المخزن
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/code') الخصومات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/purchase') المشتريات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/vendor') الموردين
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/brand') الماركات
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/transferRequest') طلب تحويل
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/transferRequestPage') طلبات التحويل
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/city') المناطق
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/order/63b4012668385e7e48054046') order By userID
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/orderMobile/5585') order By Mobile
       
        li.nav-item
          a.nav-link.active(aria-current='page' href='/manager/users') المستخدمين
       
