extends layout

block content
  .main.container.rtl
    h1 تفاصيل الطلب
    include ./includes/orderStatusTable.pug

    if (orderData.status != "canceled") 
      include ./includes/orderTable.pug
      
      if orderData.status != "completed" && orderData.status != "returned"
        .row.justify-content-evenly.mb-4
          .col-4
            form(action=`/manager/completeOrder/${orderData._id}` method='POST')
              .d-grid.gap-2
                button.btn.btn-success(type='submit') اكمل الطلب
          .col-4
            form(action=`/manager/returnOrder/${orderData._id}` method='POST')
              .d-grid.gap-2
                button.btn.btn-danger(type='submit') ارجع الطلب



        include ./includes/addInventoryToOrder.pug

    
    include ./includes/orderPrintContact.pug
