extends layout

block content
  .main.container.rtl
    h1 تفاصيل الطلب
    include ./includes/orderStatusTable.pug

    if (orderData.status != "canceled") 
      include ./includes/orderTable.pug
      
      if orderData.status != "completedxxxx"
        .row
          .col
            form(action=`/manager/completeOrder/${orderData._id}` method='POST')
              button.btn.btn-success(type='submit') Complete Order

    include ./includes/addInventoryToOrder.pug
    include ./includes/orderPrintContact.pug
