extends layout

block content
  .main.container.rtl

    h1 صفحة امر الشراء

    include ./includes/purchaseStatusTable.pug
    include ./includes/purchaseTable.pug

    
    .row.justify-content-evenly.mb-4
      if (purchaseData.inventoryQuantities.length > 0)
        if !purchaseData.paymentStatus
          .col-4
            form(action=`/manager/approvePaymentPurchaseOrder/${purchaseData._id}` method='POST')
              .d-grid.gap-2
                button.btn.btn-warning(type='submit') اكد الدفع 
        
        if purchaseData.receivingStatus != "received" && purchaseData.receivingStatus != "returned"
          .col-4
            form(action=`/manager/completePurchaseOrder/${purchaseData._id}` method='POST')
              .d-grid.gap-2
                button.btn.btn-success(type='submit') اكد استلام الطلب
          
          .col-4
            form(action=`/manager/returnPurchaseOrder/${purchaseData._id}` method='POST')
              .d-grid.gap-2
                button.btn.btn-danger(type='submit') اكد ارجاع الطلب
      if purchaseData.receivingStatus != "received" && purchaseData.receivingStatus != "returned"
        include ./includes/addInventoryToPurchase.pug
