extends layout

block content
  .main.container
    h1 Transfer Requests Page
    .row
        //- h3 Choose product To Transfer

        .col
          table.table
            thead
              tr.table-secondary
                th(scope='col') رقم المنتج
                th(scope='col') الصنف
                th(scope='col') الكمية
                th(scope='col') الى
                th(scope='col') من
                th(scope='col') الموافقة الاولية (مدير المحل)
                th(scope='col') الموافقة النهائية (مدير الشركة) 
            tbody
              each request,index in requestData
                tr
                  td= request._id
                
