extends layout

block content
  .main.container
    h1 Vendor Page


    .row
        h3 Create Vendor

        form(method='POST' action='AddVendor')
          .row
            .col-sm
              label(for='name') Name :
              input.form-control(type='text' placeholder='Name' name='name')
            .col-sm
              label(for='vendorNo') vendorNo :
              input.form-control(type='number' placeholder='' name='vendorNo')
            .col-sm
              label.text-white .
              br
              button.btn.btn-primary(type='submit') Submit

        table.table
          thead
            tr
              th(scope='col') Vendor No
              th(scope='col') Name
              //- th(scope='col') ID
              th(scope='col') 
          tbody
            each vendor,index in vendorData
              tr
                th(scope='row')= vendor.vendorNo
                td= `${vendor.name}`
                //- td= `${category._id}`
                td
                    a(href=`deletVendor/${vendor._id}`)
                        .badge.text-bg-danger.ms-1
                            i.bi.bi-trash.m-2

                

