purchaseData.img
        .card.mb-4
          .card-header.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseInventoryForm3' aria-expanded='false' aria-controls='collapseInventoryForm2')
            i.fas.fa-angle-down.mx-1
            | صورة الفاتورة
          .collapse#collapseInventoryForm3
            .card-body.p-0
              .d-flex.justify-content-center.align-items-center
                img(src=`${purchaseData.img}` alt='Invoice Image' style='max-width: 90%; height: auto;')
                button.btn.btn-secondary.ms-2(onclick='rotateImage()') Rotate 90°
              script.
                function rotateImage() {
                  const img = document.querySelector('.card-body img');
                  let angle = img.getAttribute('data-angle') || 0;
                  angle = (parseInt(angle) + 90) % 360;
                  img.style.transform = `rotate(${angle}deg)`;
                  img.setAttribute('data-angle', angle);
                }
